@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

.queryResult {
    width: 1200px;
    margin: 2em auto;
}

.character{
    display: flex;
}

.characterImg {
    width: 300px;
    margin: 1em;
    border: 4.5px solid #000;
    border-radius: 10px;
}

.characterInfo {
    margin: 1em;
    padding: 1em;
    width: 900px;
    border: 4.5px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.characterInfo>h2 {
    font-family: 'Bangers', cursive;
    font-size: 2em;
    letter-spacing: 2px;
}

.characterAppearances {
    display: flex;
    justify-content: flex-start;
}

.characterAppearances>p {
    margin-right: 2em;
}