.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar>input {
    font-size: 1em;
    padding: 0.6em;
    width: 50em;
}

.search-bar>button {
    background-color: #F11E22;
    width: 125px;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 1em 0.7em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin-top: 2.5em;
    transition: all .2s ease-in-out;
    outline: none;
}
.search-bar>button:active,
.search-bar>button:hover {
    cursor: pointer;
    -webkit-box-shadow: -1px -1px 15px 0px rgba(68, 68, 68, 1);
    -moz-box-shadow: -1px -1px 15px 0px rgba(68, 68, 68, 1);
    box-shadow: -1px -1px 15px 0px rgba(68, 68, 68, 1);
}