.details {
    display: flex;
    background: #444;
    color: #fff;
    margin: 2em auto;
    width: 1200px;
    justify-content: flex-start;
}

.details>img {
    width: 350px;
}
.details-info{
    margin: 1em 2em;
}

.container-list{
    margin: 1.5em 0;
}
.container-list>h3{
    margin: 0.2em 0;
}
.container-item{
    display: inline-block;
    text-decoration: none;
    margin-right: 0.8em;
    padding: 0.25em;
    margin-left: -0.25em;
    color: #fff;
    transition: all .2s;
}

.container-item:active,
.container-item:hover{
    background-color: #F11E22;
    transform: rotate(5deg) scale(1.2);
    padding-left: 0.25em;
}