.login, .register {
    width: 900px;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.login>img {
    width: 500px;
}

.register>img {
    width: 350px;
}

.loginForm, .registerForm {
    display: flex;
    flex-direction: column;
}

.loginForm>h2, .registerForm>h2 {
    margin: 2em auto;
}

.form-input>input {
    padding: 0.7em;
    margin: 1.5em;
    border: 2px solid #b4b1b1;
    border-radius: 20px;
    outline: none;
    transition: all .2s ease-in-out;
}

.form-input>input:focus {
    border: 2px solid #F11E22;
}

.form-input>button {
    background-color: #F11E22;
    width: 125px;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 0.6em 0.7em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin-top: 2.5em;
    transition: all .2s ease-in-out;
}

.form-input>button:hover {
    cursor: pointer;
    -webkit-box-shadow: -1px -1px 15px 0px rgba(68, 68, 68, 1);
    -moz-box-shadow: -1px -1px 15px 0px rgba(68, 68, 68, 1);
    box-shadow: -1px -1px 15px 0px rgba(68, 68, 68, 1);
}

.loginForm>p, .registerForm>p {
    margin: 1.5em auto;
}

.login-register-link {
    text-decoration: none;
    color: rgb(9, 144, 255);
    margin-left: 0.5em;
}